# Log files
*.log

# Terraform files
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate*
terraform.tfvars
terraform.tfstate.backup
tflint.hcl
generated_*.tf
providers
# Env files
.envrc
.env
#FMC credentials
fmc_provider.tf

# MACOS cache
.DS_Store
data/
schema/
